/*General styles*/
body{
    background-color: #112e55;
    color: white;
    overflow-x: hidden; 
}

.clickable{
    cursor: pointer;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  position: sticky;
  top: 0;
    min-height:  min(200px,20vh);  
    background: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center right;
    transition: all .5s;
    z-index: 1; 
    width: 100%; 
    height: 100vh;
    background-repeat: no-repeat; 
    margin-bottom: 100px;
  }


  
  #hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  
  
  }
  
  #hero .hero-container {
    position: relative;
    z-index: 2; 
    height: 50%;
    width: 90%; 
  }
  
  #hero h1 { 
    transition: all .5s;
    font-size: 5vmax; 
    color: #fff; 
  } 
  #hero div{
    font-size: 3vmax;  
  }
  
 
.header-full{
  height: 100vh !important;
  background-position: right center !important;
}
.header-min{
  height: 0px !important;
  background-position: left center !important;  
  .hero-container { 
    height: calc(100% -  calc(min(20vh, 20vw, 150px) * 0.5)) !important;    
  }
  h1 { 
    font-size: 4vmin !important;       
  } 
  div{
    font-size: 2vmin !important;     
  }
}
/*--------------------------------------------------------------
# Hero Section END
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Text morph
--------------------------------------------------------------*/

$speed: 10s;
$wordCount: 2;

.morphing {
  color: rgba($color: #040b14, $alpha: 1);
  text-shadow:
    .1vmin .1vmin .1vmin #fff,
    -.1vmin .1vmin .1vmin #fff,
    -.1vmin -.1vmin 0 #fff,
    .1vmin -.1vmin 0 #fff;
  font-weight: bold;  
  width: max(360px, 70vw); 
  position: relative;  
}

.word {
  position: absolute;
  top: 0;   
  animation: word $speed infinite ease-in-out;

  @for $i from 0 to $wordCount {
    &:nth-child(#{$i + 1}) {
      animation-delay: ($speed / ($wordCount + 1) * $i) - $speed;
    }
  }

  @keyframes word {
    0%, 15%, 90% { filter: blur(0px); opacity: 1; }        
    30%, 45% { filter: blur(1em); opacity: 0; }        
  }
}




@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}
.conic-anim-border{ 
  border: 2px solid; 
  border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30; 
  animation: borderRotate 1s linear infinite forwards;
}