# dependencies
/node_modules

# production build
/build
/dist

# misc
.DS_Store
.env*
.env.*.local

# log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor configs
.vscode
.idea

# testing
/coverage
/jest.config.js
/tsconfig.test.json

# local dev
*.local
*.log

# yarn/lock files
.pnp*
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz

# optional: Docker
docker-compose.override.yml

# optional: system files
Thumbs.db
