 .menu-base{
    position: absolute;
    bottom: 0;
    right: 0; 
    box-sizing: border-box; 
    overflow: hidden;
    transition: all .3s;
    clear: both;
 }
 .menu{
    position: relative;
    width: min(20vh,20vw,150px);
    height: min(20vh,20vw,150px);
    transition: all .3s; 
    -webkit-clip-path: polygon(0% 100%,  100% 0%,100% 100%);
    clip-path:polygon(0% 100%, 100% 0%,100% 100%); 
 }
 $icosize: calc(min(20vh,20vw,150px) * 0.4) ;
 .menu-icon{
    position: absolute;
    width: $icosize;
    height:  $icosize;
    line-height: calc($icosize - 5px); 
    font-size: calc($icosize / 2); ;
    right: 10%;
    bottom: 10%;
    text-align: center;
    vertical-align: middle;
    color: white;
    border-radius: 50%;
    border: 2px solid;
 }
  .menu-content{
    display: none;
  }
 .menu-border{        
    transition: all .3s;
    float: left;
    height: 0;
    width: 0; 
    -webkit-clip-path: polygon(0% 100%, 50% 0%,0% 0%);
    clip-path: polygon(0% 100%, 50% 0%,0% 0%);

    -webkit-shape-outside: polygon(0% 100%, 50% 0%,0% 0%);
    shape-outside: polygon(0% 100%, 50% 0%,0% 0%);
 } 
 .menu:hover{
    width: max(50vw,360px) ;
    height: 100vh; 
    -webkit-clip-path: polygon(0% 100%, 50% 0%,100% 0%,100% 100%);
    clip-path:polygon(0% 100%, 50% 0%,100% 0%,100% 100%);
    background-color: aqua; 
    .menu-border{        
       float: left;
       height: 100vh;
       width:max(50vw,360px) ;
    }
    .link{
        background-color: red;
        width: 100%;
    }
    .menu-content{
      display: block;
    }
    .menu-icon{
        display: none;
    }
 }